body {
  font-family: "Arial";
  background-color: #181818;

  /*  make text unselectable  */
  webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.gameCanvas {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.pageFooter {
  position: fixed;
  background-color: #666;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
}

.pageFooterText {
  margin: 12px 8px;
  float: left;
}

.pageFooterVersion {
  margin: 12px 8px;
  float: right;
}
